@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is why I love Razor all you have to do is type "@@ {}" and you can add anything from the model into the main page.
    </p>
</div>
